.section__inner

	.papiin_agents.d-flex.flex-column.flex-md-row
		.about_sec_title
			//-AOS
			.identityimg(data-aos="fade-right")
				img(class="" src="assets/images/img_identityblue.png" alt="")
			//-AOS
			.identitytext
				.identitytext_inner
					div.d-flex
						.identity_subtitle.papiin_body1_bold
							|如果你是...
					h2.d-flex
						.identity_title.papiin_heading03
							|影視從業人員 或
					h2.d-flex
						.identity_title.papiin_heading03
							|即將進入影視產業的學生
					h3.d-flex
						.identity_subtitle.papiin_body1_bold
							|PaPiin 可以協助你輕鬆建立作品集頁面！
				.identityicon
					img(class="" src="assets/images/icon_arrowright.svg" alt="")
		.about_sec_content
			.papiin_chatlist.d-flex.flex-column
				//-AOS
				.papiin_chatitem.d-flex(data-aos="fade-left" data-aos-duration="100")
					.papiin_chatitem__inner.papiin_body1_bold
						|透過作品串接產業人脈資源
					img(class="papiin_chattail" src="assets/images/icon_chattail_right.svg" alt="")
				//-AOS
				.papiin_chatitem.d-flex(data-aos="fade-left" data-aos-duration="200")
					img(class="papiin_chattail" src="assets/images/icon_chattail_left.svg" alt="")
					.papiin_chatitem__inner.papiin_body1_bold
						|掌握產業最新動態
				//-AOS
				.papiin_chatitem.d-flex.align-md-self-end(data-aos="fade-left" data-aos-duration="300")
					.papiin_chatitem__inner.papiin_body1_bold
						|尋找潛在合作對象
					img(class="papiin_chattail" src="assets/images/icon_chattail_right.svg" alt="")



	.papiin_client.d-flex.flex-column.flex-md-row
		.about_sec_content.order-1.order-md-0
			.papiin_chatlist
				//-AOS
				.papiin_chatitem.d-flex(data-aos="fade-right" data-aos-duration="100")
					.papiin_chatitem__inner.papiin_body1_bold
						|在 PaPiin 上發案、提供需求，讓製作公司主動聯繫你！
					img(class="papiin_chattail" src="assets/images/icon_chattail_right.svg" alt="")
				//-AOS
				.papiin_chatitem.d-flex(data-aos="fade-right" data-aos-duration="200")
					img(class="papiin_chattail" src="assets/images/icon_chattail_left.svg" alt="")
					.papiin_chatitem__inner.papiin_body1_bold
						|從 PaPiin 篩選出特定風格類型的影片，直接聯繫製作團隊！
		.about_sec_title.order-0.order-md-1
			//-AOS
			.identityimg(data-aos="fade-left")
				img(class="" src="assets/images/img_identityred.png" alt="")
			//-AOS
			.identitytext
				.identityicon.order-1.order-md-0
					img(class="" src="assets/images/icon_arrowleft.svg" alt="")
				.identitytext_inner.order-0.order-md-1
					div.d-flex
						.identity_subtitle.papiin_body1_bold
							|如果你是...
					h2.d-flex
						.identity_title.papiin_heading03
							|有影像發案需求的
					h2.d-flex
						.identity_title.papiin_heading03
							|品牌或個人
					h3.d-flex
						.identity_subtitle.papiin_body1_bold
							|PaPiin 可以協助你找到好的影像團隊！
		
