<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:type" content="Website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	//- <!-- Bootstrap CSS -->
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
	//- <!-- Bootstrap CSS END-->
	<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
	//- <link rel="stylesheet" type="text/css" href="assets/css/line.css" />
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
	<link rel="canonical" href="" />
</head>